/* ==========================================================================
   Flickr Gallery Styles
   ========================================================================== */

.flickr {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    a, a:hover {
        border: none !important;
    }
    span {
        display: inline-block;
        position: relative;
    }
    .flickrlink {
        display: none;
        width: 2em;
        height: 1em;
        background: transparent url(/assets/images/flickr.png) no-repeat left top;
        position: absolute;
        right: 0.5em;
        bottom: 1em;
        @include opacity(0.5);
        @include transition(opacity 0.2s ease-in-out);
        &:hover {
            @include opacity(1);
        }
    }
    span:hover .flickrlink {
        display: block
    }
    img {
        max-width: 100%;
        padding: 0.5em;
        .summary & {
            padding: 0.2em;
        }
    }
    &.summary {
        max-width: 40em;
    }
}